* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: arial;
    background-color: #f9f9f9;
}

/*  Priser */

.priser {
    height: 100px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5A84D0;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 0 75px 75px 0;
    text-transform: uppercase;
    padding: 20px;
}

/*  Terapi */

ul {
    list-style-type: none;
}

li {
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Terapi {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}

article {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    background-color: #00045A;
    color: white;

}

.terapikategori {
    border-radius: 15px 0 0 15px;
    text-align: left;
    width: 75%;
}

.terapikategori li {
    margin-left: 40px;
}

.terapipriser {
    border-radius: 0 15px 15px 0;
    padding-top: 95px;
    text-align: right;
    width: 25%;
}

.terapipriser li {
    margin-right: 40px;
}



/*  tlf. størrelse */

@media (max-width: 768px) {
    li {
      font-size: 16px; 
    }

}

