* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: arial;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
    padding: 15px;

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;  
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%
}

.sidebar a{
    width: 100%;
}
.menu-button {
    display: none;
}
@media(max-width: 800px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}


.dropdown {
    position: relative;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
    padding: 0 1rem;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

